In [11]:
#Experiment 3
#Aim:Study of list,tuple and Dictionary
x=["Apple","Orange","Cherry","niggudesh"]
print(x)
print(len(x))

['Apple', 'Orange', 'Cherry', 'niggudesh']
4
['Apple', 'Orange', 'Cherry', 'niggudesh', 'Banana']
Apple

In [14]:
#Appending value in list
x=["Apple","Orange","Cherry","niggudesh"]
x.append("Banana")
print(x)

['Apple', 'Orange', 'Cherry', 'niggudesh', 'Banana']

In [15]:
#Printing INDEX  value
x=["Apple","Orange","Cherry"]
print(x[0])
print(x[-2])
x.append("Banana")
print(x[0])
print(x[-2])

Apple
Orange
Apple
Cherry

In [16]:
#Insert value at a particular index
x=["Apple","Orange","Cherry"]
x.insert(1,"Melon")
print(x)

['Apple', 'Banana', 'Orange', 'Cherry']

In [3]:
#Value Updation by indexing
x=["Apple","Orange","Cherry"]
x[1]="Banana"
print(x)

['Apple', 'Banana', 'Cherry']

In [5]:
#Combining 2 list in python
#Method 1
Lst1=[1,2,3,4,5]
Lst2=[6,7,8,9,10]
Lst1.extend(Lst2)
print(Lst1)



#Method 2
Lst3=[1,2,3,4,5]
Lst4=[6,7,8,9,10]
Lst5=Lst3+Lst4
print(Lst5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
#Value printing by slicing
x=["Apple","Orange","Cherry","Kiwi","Mango","Pineapple"]
print(x[2:5])
print(x[:4])
print(x[2:])
print(x[:-1])

['Cherry', 'Kiwi', 'Mango']
['Apple', 'Orange', 'Cherry', 'Kiwi']
['Cherry', 'Kiwi', 'Mango', 'Pineapple']
['Apple', 'Orange', 'Cherry', 'Kiwi', 'Mango']

In [15]:
#Task given by AM SIR
lst=["Neeraj Pesu","Oggy","Hakla","Tanishq","Popla"]
print(lst)
print(lst[0])
print(lst[-1])
lst.append("Neeraj")
lst.remove("Neeraj Pesu")
lst.sort()
print(lst)

['Neeraj Pesu', 'Oggy', 'Hakla', 'Tanishq', 'Popla']
Neeraj Pesu
Popla
['Hakla', 'Neeraj', 'Oggy', 'Popla', 'Tanishq']

In [16]:
#Student Marks Management System
Marks=[79,96,86,93,87]
print(max(Marks))
print(min(Marks))
sum=sum(Marks)
print(sum)
print(sum/len(Marks))
Marks.sort()
print(Marks)

96
79
441
88.2
[79, 86, 87, 93, 96]